@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #111827;
}
html, body {
  overflow-x: hidden;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 9999 !important;
  position: relative;       
}